*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
    --bg-color-light: #ffffff;
    --bg-color-dark: #121212;
    --text-color-light: #000000;
    --text-color-dark: #ffffff;
    --card-bg-light: #f2f2f2;
    --card-bg-dark: #1e1e1e;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}
body.light-mode {
    background-color: white;
    color: black;
}
body.dark-mode {
    background-color: black;
    color: white;
}

.light-mode {
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
}

.dark-mode {
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

.map {
    width: 100%;
    height: 400px;
    position: relative;
}

.dashboard, .sidebar {
    flex: 1 1 30%;
    margin: 10px;
    padding: 20px;
    background-color: var(--card-bg-light);
    border-radius: 8px;
    transition: background-color 0.3s;
}

.light-mode .dashboard, .light-mode .sidebar {
    background-color: var(--card-bg-light);
}

.dark-mode .dashboard, .dark-mode .sidebar {
    background-color: var(--card-bg-dark);
}

.card {
    background-color: inherit;
    padding: 10px;
    border-radius: 8px;
}

h1, h2, p, label {
    margin: 0 0 10px;
}

select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
#theme-toggle {
    position: absolute;
    top: 1px;
    right: 10px;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    z-index: 10;
    background-color: transparent;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .dashboard, .sidebar {
        flex: 1 1 100%;
    }
}

h1 {
    position: absolute;
    font: 1em Arial;
    top: 10px;
    left: 10px;
    font-size: larger;
    color: black;
    border-radius: 5px;
}
